<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PIZZA-SHOP</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/admin_styles.css" th:href="@{/css/auth_styles.css}">
</head>
<body>
    <header class="headerArea">
        <div class="container">
            <div class="header-wrap">
                <h2 class="header-title">Админка PIZZA-SHOP</h2>
            </div>
        </div>
    </header>
    <div class="container">
        <nav class="nav-bar">
                <a href="" class="nav-link">Заказы</a>
                <a href="" class="nav-link">Ингредиенты</a>
        </nav>
    </div>
    <div class="container">
        <div class="orders">
            <div class="orders-wrap">
                <div class="order-card">
                    <div class="order-card-wrap">
                        <span class="order-label">Имя заказчика</span>
                        <span class="client-name">Константин</span>
                    </div>

                    <div class="order-card-wrap">
                        <span class="order-label">Телефон заказчика</span>
                        <span class="client-phone">+79507395894</span>
                    </div>
                    
                    <div class="order__ingredients">
                        <span class="order-ingredients-label">Список ингредиентов для пиццы</span>
                        <div class="order-ingredients">
                            <span class="order-ingredient">Томаты</span>
                            <span class="order-ingredient">Пепперони</span>
                            <span class="order-ingredient">Грибы</span>
                            <span class="order-ingredient">Маслины</span>
                        </div>
                    </div>
                    
                    <div class="order-card-wrap-total_price">
                        <span class="order-label">Итоговая стоимость</span>
                        <span class="order-total_price">499</span>
                    </div>
                    
                </div>

                <div class="order-card">
                    <div class="order-card-wrap">
                        <span class="order-label">Имя заказчика</span>
                        <span class="client-name">Константин</span>
                    </div>

                    <div class="order-card-wrap">
                        <span class="order-label">Телефон заказчика</span>
                        <span class="client-phone">+79507395894</span>
                    </div>
                    
                    <div class="order__ingredients">
                        <span class="order-ingredients-label">Список ингредиентов для пиццы</span>
                        <div class="order-ingredients">
                            
                            <span class="order-ingredient">Томаты</span>
                            <span class="order-ingredient">Пепперони</span>
                            <span class="order-ingredient">Грибы</span>
                            <span class="order-ingredient">Маслины</span>
                        </div>
                        
                    </div>
                    
                    <div class="order-card-wrap-total_price">
                        <span class="order-label">Итоговая стоимость</span>
                        <span class="order-total_price">499</span>
                    </div>
                    
                </div>
                
                <div class="order-card">
                    <div class="order-card-wrap">
                        <span class="order-label">Имя заказчика</span>
                        <span class="client-name">Константин</span>
                    </div>

                    <div class="order-card-wrap">
                        <span class="order-label">Телефон заказчика</span>
                        <span class="client-phone">+79507395894</span>
                        
                    </div>
                    
                    <div class="order__ingredients">
                        <span class="order-ingredients-label">Список ингредиентов для пиццы</span>
                        <div class="order-ingredients">
                            <span class="order-ingredient">Томаты</span>
                            <span class="order-ingredient">Пепперони</span>
                            <span class="order-ingredient">Грибы</span>
                            <span class="order-ingredient">Маслины</span>
                            <span class="order-ingredient">Оливки</span>
                            <span class="order-ingredient">Соленый огурец</span>
                            <span class="order-ingredient">Цыпленок</span>
                        </div>
                        
                    </div>
                    
                    <div class="order-card-wrap-total_price">
                        <span class="order-label">Итоговая стоимость</span>
                        <span class="order-total_price">499</span>
                    </div>
                    
                </div>

                <div class="order-card">
                    <div class="order-card-wrap">
                        <span class="order-label">Имя заказчика</span>
                        <span class="client-name">Константин</span>
                    </div>

                    <div class="order-card-wrap">
                        <span class="order-label">Телефон заказчика</span>
                        <span class="client-phone">+79507395894</span>
                        
                    </div>

                    <div class="order__ingredients">
                        <span class="order-ingredients-label">Список ингредиентов для пиццы</span> 
                        <div class="order-ingredients">
                            <span class="order-ingredient">Томаты</span>
                            <span class="order-ingredient">Пепперони</span>
                            <span class="order-ingredient">Грибы</span>
                            <span class="order-ingredient">Маслины</span>
                        </div>
                        
                    </div>
                    
                    <div class="order-card-wrap-total_price">
                        <span class="order-label">Итоговая стоимость</span>
                        <span class="order-total_price">499</span>
                    </div>
                    
                </div>

                <div class="order-card">
                    <div class="order-card-wrap">
                        <span class="order-label">Имя заказчика</span>
                        <span class="client-name">Константин</span>
                    </div>

                    <div class="order-card-wrap">
                        <span class="order-label">Телефон заказчика</span>
                        <span class="client-phone">+79507395894</span>
                        
                    </div>

                    <div class="order__ingredients">
                        <span class="order-ingredients-label">Список ингредиентов для пиццы</span>
                        <div class="order-ingredients">
                            <span class="order-ingredient">Томаты</span>
                            <span class="order-ingredient">Пепперони</span>
                            <span class="order-ingredient">Грибы</span>
                            <span class="order-ingredient">Маслины</span>
                        </div>
                        
                    </div>
                    
                    <div class="order-card-wrap-total_price">
                        <span class="order-label">Итоговая стоимость</span>
                        <span class="order-total_price">499</span>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
    <p th:text="'Hello, ' + ${name} + '!'"/>
</body>
</html>