<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/admin_styles.css" th:href="@{/css/auth_styles.css}">
    <title>PIZZA-SHOP</title>
</head>
<body>
    <header class="headerArea">
        <div class="container">
            <div class="header-wrap">
                <h2 class="header-title">Админка PIZZA-SHOP</h2>
            </div>
        </div>
    </header>
    <div class="container">
        <nav class="nav-bar">
                <a href="" class="nav-link">Заказы</a>
                <a href="" class="nav-link">Ингредиенты</a>
        </nav>
    </div>
    <div class="container">
        <button class="add-ingredient-btn"></button>
        <div class="ingredients">
            <div class="ingredients-wrap">
                <div class="ingredient-card">
                    <div class="ingredient-buttons">
                        <button class="ingredient-edit"></button>
                        <button class="ingredient-delete"></button>
                    </div>
                    
                    <span class="ingredient-name">Томаты</span>
                    <div class="ingredient-cost">
                        <span class="ingredient-price-label">Стоимость:</span>
                        <span class="ingredient-price">50</span>
                    </div>
                    
                </div>

                <div class="ingredient-card">
                    <div class="ingredient-buttons">
                        <button class="ingredient-edit"></button>
                        <button class="ingredient-delete"></button>
                    </div>
                    
                    <span class="ingredient-name">Соленые огурцы</span>
                    <div class="ingredient-cost">
                        <span class="ingredient-price-label">Стоимость:</span>
                        <span class="ingredient-price">50</span>
                    </div>
                </div>

                <div class="ingredient-card">
                    <div class="ingredient-buttons">
                        <button class="ingredient-edit"></button>
                        <button class="ingredient-delete"></button>
                    </div>
                    
                    <span class="ingredient-name">Шампиньоны</span>
                    <div class="ingredient-cost">
                        <span class="ingredient-price-label">Стоимость:</span>
                        <span class="ingredient-price">50</span>
                    </div>
                </div>

                <div class="ingredient-card">
                    <div class="ingredient-buttons">
                        <button class="ingredient-edit"></button>
                        <button class="ingredient-delete"></button>
                    </div>
                    
                    <span class="ingredient-name">Лук</span>
                    <div class="ingredient-cost">
                        <span class="ingredient-price-label">Стоимость:</span>
                        <span class="ingredient-price">50</span>
                    </div>
                </div>

                <div class="ingredient-card">
                    <div class="ingredient-buttons">
                        <button class="ingredient-edit"></button>
                        <button class="ingredient-delete"></button>
                    </div>
                    
                    <span class="ingredient-name">Чеснок</span>
                    <div class="ingredient-cost">
                        <span class="ingredient-price-label">Стоимость:</span>
                        <span class="ingredient-price">50</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>