<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PIZZA-SHOP</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/order_styles.css" th:href="@{/css/order_styles.css}">
</head>
<body>
    <div class="container">
        <div class="modal-wrap">
            <div class="modal-container">
                <h3 class="modal-title">Ваш заказ отправлен!</h3>
                <p class="modal-text">Ожидайте, ваша вкусная и горячая пицца прибудет втечение часа!</p>
                <img src="../static/img/pizza.png" alt="pizza" class="modal-img">
            </div>
        </div>
    </div>
    
</body>
</html>